body { color: #222; }

.page {
  background: #fee;
  width: 80vw;
  margin: 1rem auto;
  padding: 1rem;
}

.title {
  text-align: center;
  margin-top: 0;
  border-bottom: 1px dashed #222;
}

table {
  width: 100%;
}

th {
  text-align: left;
  font-size: x-large;
}